*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Playfair Display', serif;
}
#enter{
    background: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.content{
    width: 1000px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.content span{
    background-color: black;
    color: #fff;
    font-size: 30px;
    padding: 20px;
    letter-spacing: 10px;
    
}
#one{
    text-align: center;
    height: 300px;
    background-color: #F4F4F4;
}
.one_content{
    padding: 70px;
}
.one_content h5{
    color: #666666;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}